.container .contact {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.container .contact h2 {
  text-align: center;
  width: 51%;
}
.container .contact .contact-form {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px;
  width: 51%;
}
.container .contact .contact-form .form-group {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contact-form .form-group label {
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}
.container .contact .contact-form .form-group input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  caret-color: black;
  border-radius: 8px;
  border: 1px solid var(--main-color);
}
.container .contact .contact-form .form-group textarea {
  margin-top: 10px;
  border: 1px solid var(--main-color);
  padding: 10px;
  min-width: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 8px;
  caret-color: black;
}
.container .contact .contact-form button {
  padding: 10px;
  width: 100%;
  background-color: var(--main-color);
  border: 0px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
}
.container .contact .contact-form button:hover {
  background-color: var(--main-color-hover);
  color: #ffffff;
}
.container .contact .contact-form button:active {
  background-color: rgb(178, 121, 121);
  color: #ffffff;
  border: 0px;
  border-radius: 8px;
}
