<div class="gitHub-block">
  <div class="container">
    <div class="search">
      <input
        (keyup.enter)="searchUsers()"
        [(ngModel)]="search"
        type="search"
        placeholder="  Search for user... and press enter"
      />
    </div>

    <div class="show-cards" *ngIf="users.length">
      <div class="card-block" *ngFor="let user of users">
        <app-card
          [login]="user.login"
          [avatar_url]="user.avatar_url"
          [html_url]="user.html_url"
        ></app-card>
      </div>

      <div class="row my-5 loading" *ngIf="!users.length">Loading...</div>
    </div>
  </div>
</div>
